/*DEFAULT VALUES*/
:root{
    --green: rgb(3, 235, 3);
    --blue: #008cff;
    --yellow: #ffc400;
}
.green{
    color: var(--green);
    border: var(--green);
}
.red{
    color: red;
    border: red;
}
.yellow{
    color: var(--yellow);
    border: var(--yellow);
}
.blue{
    color: var(--blue);
    border: var(--blue);
}
.none{
    display: none !important;
}
.disable{
    opacity: 0.5;
    pointer-events: none;
}
/*GENERAL*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
}
/*BUTTONS*/
div.buttons{
    display: flex;
    justify-content: center;
    gap: 35px
}
.buttom{
    width: 150px;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 5px solid;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    display: flexbox;
    padding-left: 20px;
    padding-right: 20px;
}
.buttom:hover{
    opacity: 0.68;
}
/*TIME*/
div.display{
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
div.time{
    color: white;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    display: flexbox;
    height: 90px;
}
/*LAP*/
.title{
    color: white;
}
.lap{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}